*.ttc filter=lfs diff=lfs merge=lfs -text

# 字体文件 - 作为二进制处理
*.ttf binary
*.ttc binary
*.otf binary
*.woff binary
*.woff2 binary
*.eot binary
*.sfnt binary

# 其他二进制文件
*.png binary
*.jpg binary
*.gif binary
